body {
    height:100%;
}

#app {
    display: flex;
    flex-flow: column;
    height:100vh;
}

#all {
    display: flex;
    flex-flow: column;
    height:100vh;
}

#note {
    display: flex;
    flex-flow: column;
    flex: auto;
    max-width: 960px;
    padding:8px;
}

#editeur {
    flex: 1 auto;
    display: flex;
    flex-flow: column;

}

#texte {
    flex: 1 auto;
    display: flex;
    flex-flow: row;

}

#areatexte {
    flex: 1 auto;
    display: flex;
    flex-flow: column;

}

#titreNote {
    display:flex;
    flex-flow: row;
}

.lastEdit{
  font-size: 0.7rem;
  font-style: italic;
}

.content{
  padding:8px;
}

#titreChamp {
   /* flex: 1 auto;*/
}

header {
    border-bottom: 0.5px solid black;
    padding: 2px 0px;
    min-height: 36px;
}

main{
    display: flex;
    flex: 1 auto;
    overflow:auto;
}

.aside {
    flex: 0 0 150px;

    }

#principal {
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
}

/*.card-contenant {
    display: flex;
    flex-flow: row wrap;
}*/

.carte-note {
    max-width: 800px;
    min-width: 50px;
}

.sectione{
  padding:10px;
}

.form-input {
    border-width: 0 0 0 2px;
}

.off-canvas .off-canvas-content {
    padding: 0 0 0 0;

}

.off-canvas .off-canvas-toggle {
    position:relative;
    top: 0;
    left: 0;
}

.navbar {
  /*  height: 2rem;
    padding: 0.5rem;*/
}

ul.nav {
    width: fit-content;
    margin:auto;
}

#suggestion{
    width:fit-content;
}

.s4433 .vers:nth-of-type(4){
  margin-bottom: 1rem;
}

.trident .vers:nth-of-type(2n+1){
  text-indent: 2cm;
}

.trident .vers:nth-of-type(2)::before{
  content:"⊗ "
}


.poeme {
    width:fit-content;
    margin: 2rem auto;
}

.poeme p{
  padding:0;
  margin: 0;

}

p.vers{
  min-height:1.8em;
  text-indent: 1em;
}

p.vers::first-line{
  text-indent: -1em;
}


.asphodele {
  width: 200%;
  margin-left:-40%;
}

.asphodele p:nth-child(3n+2){
text-indent: 20%;
}


.asphodele p:nth-child(3n){
  text-indent: 40%;
  }

.poeme .titre-poeme{
  margin:0px 5px;
  text-align:center;
  font-weight: bold;
}

.lapolapo,.l0,.l1,.l2,.l3,.l4 {
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: row;
    border: 1px solid transparent;
}

div.cB{
    border: 1px solid transparent;
}

div.cB:hover {
    border: 1px solid lightgray;
}

div.l0:hover {
    border: 1px solid lightgray;
}

.pageTitre{
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
}

@font-face{
    font-family: "Ouroboros";
    src:
      url("/src/fonts/Ouroboros-Regular.woff2") format("woff2");
  }

.titreA{
    font-family: Ouroboros;
    font-size:4em;
    height: 33%;
    width: 100%;
}

.gauche{
    text-align: right;
}

.droite{

}

.poemeTitre{
    display:flex;
    height:67%;
    flex-direction: column;
    justify-content: center;
    width: fit-content;
    margin:auto;
    text-align: left;
}

.lapolapo {
    transform: rotate(90deg) translate(0 0);
    transform-origin: top left;
}
.rotate{
    display: flex;
    flex-direction: row;
    transform: rotate(-90deg) translate(0,0);
    
}
.l0 {
    width: 105mm;
    height: 148mm;
}

.l1 {
    width: 148mm;
    height: 210mm;
}

.l2 {
    width: 210mm;
    height: 297mm;
}

.l3 {
    width: 297mm;
    height: 420mm;
}


/*print css*/



@page {
    margin: 0cm;
  }
  
@media print {
    /**
    * Reset global de toutes les propriétés
    */
    * {
      all: unset;
      display: revert;
    }
    *,
    *::before,
    *::after {
      box-sizing: border-box;
    }
    img {    
      max-width: 100%;
    }
    input,
    textarea,
    select {
      all: revert;
    }
  
    /**
    * Taille de polices globales (13pt=16px), couleur de texte et de fond
    * Famille de police en serif (avec empattements)
    */
    
    body {
     font-size: 13pt;
      line-height: 1.5;
      background-color: 
  #fff!important;
      color: 
  #000!important;
    }
    h1 {
      font-size: 24pt;
    }
    h2 {
      font-size: 20pt;
      margin-top: 20pt;
    }
    h3,
    h4 {
      font-size: 14pt;
      margin-top: 14pt;
    }
    h5,
    h6 {
      font-size: 13pt;
      margin-top: 14pt;
    }
  
    /**
    * Lignes veuves et orphelines
    */
  
    p,
    blockquote,
    figcaption {
      orphans: 3; /* pas de ligne seule en bas */
      widows: 3; /* pas de ligne seule en haut */
    }
  
    /**
    * Sauts de pages
    */
  
    ul,
    ol,
    dl,
    a,
    table,
    pre,
    blockquote {
      page-break-inside: avoid; /* pas de sauts au sein de ces élements */
    }
  
    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    img,
    figure,
    caption {
      page-break-inside: avoid; /* pas de sauts au sein de ces élements */
      page-break-after: avoid; /* pas de saut après ces éléments */
    }
  
    ul,
    ol,
    dl {
      page-break-before: avoid; /* pas de sauts avant de ces élements */
    }
  
    /**
    * Liens
    */
  
    a,
    a:link,
    a:visited {
    background: 
  transparent !important;
    color: unset;
    font-weight: 700;
    text-decoration: underline !important;
    }
  
    a[href^=http]:after,
    a[href^=https]:after
     {
      content: " (" attr(href) ")"; /* affichage des URL des liens externes */
    }
  
    /**
    * Masquage des vidéos
    */
  
    video,
    object,
    iframe {
      display: none !important;
      width: 0 !important;
      height: 0 !important;
      overflow: hidden !important;
    }
  
    /**
    * Classes utilitaires
    */
  
    .u-print {
      display: block;
      display: revert !important; /* affichage des éléments de classe u-print */
    }
    .u-no-print {
      display: none !important; /* masquage des éléments de classe u-no-print */
    }
    header,.navbar,.aside {
        display:none;
    }
    .lapolapo{
        transform: rotate(-90deg) translate(0 0);
        size: landscape;
    }

    em {
      font-style: italic;
    }

    del {
      display: none;
    }

  }

